/**
*   palette color
*
*   http://paletton.com/palette.php?uid=30L0u0kuHu6iQBAnXvJvInWBxiO
*
**/

.container, .jumbotron {
    width : 100%;
    margin : 0;
    height : 100%;
    max-width: 100%;
}


/* Navigation  */

/* About */
/* Skills */
.skillsColumn {
    display : inline-block;
    width : 33%;
}

.skillsBar p {
    text-align : left;
    padding-left : 10px;
    color : white;
    font-weight: bold;
    background-color: #FDB040;
}

.skillsBar .php {
    width : 80%;
}
.skillsBar .html{
    width : 90%;
}
.skillsBar .css {
    width : 85%;
}
.skillsBar .javascript {
    width : 75%;
}
.skillsBar .java {
    width : 40%;
}
.skillsBar .symfony {
    width : 70%;
}
.skillsBar .angularjs {
    width : 60%;
}
.skillsBar .nodejs {
    width : 50%;
}
.skillsBar .git {
    width : 80%;
}
.skillsBar .mysql{
    width : 80%;
}
.skillsBar .mongodb{
    width : 50%;
}
.skillsBar .adminsys {
    width : 40%;
}

/* Project */
/* contact */

/* Footer */