<div class="jumbotron text-center">
    <h1>A propos de moi</h1>

    <div>
        <p>
            Développeur Web, passionné par le web et l'informatique.<br><br>

            Je suis actuellement en 2ème année en bachelor Web Technology dans l'école Sup'Internet.<br>
            J'avance en espérant devenir un développeur chevronné sur Symfony 2, ce qui ne m’empêche pas d'apprendre d'autres technologies telle que AngularJS et NodeJs.<br><br>

            Également joueur dans l'âme, je suis au sein d'une association organisatrice de LAN-Party dans le Val d'Oise: Restless<br>
            Je fait partie du staff, je participe donc au bon déroulement des évènements, en aidant a l'installation et au rangement de la salle, ainsi qu'a la surveillance de nuit, ces Lan durant généralement 3 jours.
        </p>
    </div>
</div>