<div class="jumbotron text-center">
    <h2>Formulaire de contact</h2>
    <form>
        <input type="email" name="email" placeholder="Adresse mail"><br>
        <input type="text" name="fullname" placeholder="Nom complet"><br>
        <input type="text" name="object" placeholder="Objet du mail"><br>
        <textarea name="content" id="content" cols="30" rows="10" placeholder="Contenu du mail"></textarea>
    </form>
</div>