<div class="jumbotron text-center">
    <h1>Project Page</h1>

    <p>
    <ul>
        <li><a href="https://gitlab.com/RaphaelAugustin/restless">Restless</a>
            <!--<p>-->
                <!--Site web de l'association Restless.-->
            <!--</p>-->
    </li>
        <li><a href="https://gitlab.com/RaphaelAugustin/SupFramework">SupFramework</a></li>
        <li><a href="https://gitlab.com/RaphaelAugustin/supinternetORM">SupinternetORM</a></li>
        <li><a href="https://gitlab.com/RaphaelAugustin/portfolio">Mon Portfolio</a></li>
    </ul>
    </p>
</div>