<div class="jumbotron text-center">
    <h1>Skills Page</h1>

    <div>
        <div class="skillsColumn">
            <div class="skillsBar php"><p class="skills php">PHP</p></div>
            <div class="skillsBar html"><p class="skills html">HTML5</p></div>
            <div class="skillsBar css"><p class="skills css">CSS3</p></div>
            <div class="skillsBar javascript"><p class="skills javascript">Javascript</p></div>
            <div class="skillsBar java"><p class="skills java">Java</p></div>

        </div>
        <div class="skillsColumn">
            <div class="skillsBar symfony"><p class="skills symfony">Symfony 2</p></div>
            <div class="skillsBar angularjs"><p class="skills angularjs">AngularJS</p></div>
            <div class="skillsBar nodejs"><p class="skills nodejs">NodeJS</p></div>
        </div>

        <div class="skillsColumn">
            <div class="skillsBar git"><p class="skills git">Git</p></div>
            <div class="skillsBar mysql"><p class="skills mysql">MySQL</p></div>
            <div class="skillsBar mongodb"><p class="skills mongodb">MongoDB</p></div>
            <div class="skillsBar adminsys"><p class="skills adminsys">AdminSys</p></div>
        </div>
    </div>
</div>